In [23]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry", [12,13,14,15], ('Ade', 'John'), ('Ade', 'John'))
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry', [12, 13, 14, 15], ('Ade', 'John'), ('Ade', 'John'))

In [19]:
thistuple[5][1]

13

In [21]:
thistuple[::-1]

(('Ade', 'John'),
 [12, 13, 14, 15],
 'cherry',
 'apple',
 'cherry',
 'banana',
 'apple')

In [29]:
thistuple = list(thistuple)

In [33]:
type(thistuple)

list

In [35]:
thistuple[4] = 'Cherrry'

In [37]:
thistuple

['apple',
 'banana',
 'cherry',
 'apple',
 'Cherrry',
 [12, 13, 14, 15],
 ('Ade', 'John'),
 ('Ade', 'John')]

In [39]:
tuple(thistuple)

('apple',
 'banana',
 'cherry',
 'apple',
 'Cherrry',
 [12, 13, 14, 15],
 ('Ade', 'John'),
 ('Ade', 'John'))

In [41]:
len(thistuple)

8

In [47]:
thistuple

['apple',
 'banana',
 'cherry',
 'apple',
 'Cherrry',
 [12, 13, 14, 15],
 ('Ade', 'John'),
 ('Ade', 'John')]

In [49]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [45]:
thistuple[(len(thistuple)-1)]

('Ade', 'John')

In [51]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [55]:
for i in thistuple:
    print (i)

apple
banana
cherry
apple
Cherrry
[12, 13, 14, 15]
('Ade', 'John')
('Ade', 'John')

In [61]:
for i in range(len(thistuple)):
    print(thistuple[i])

apple
banana
cherry
apple
Cherrry
[12, 13, 14, 15]
('Ade', 'John')
('Ade', 'John')

In [ ]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

In [63]:
thisturp = (1,2,3,4)

In [73]:
thistuple = tuple(thistuple)

In [75]:
thistuple+thisturp

('apple',
 'banana',
 'cherry',
 'apple',
 'Cherrry',
 [12, 13, 14, 15],
 ('Ade', 'John'),
 ('Ade', 'John'),
 1,
 2,
 3,
 4)

In [77]:
thisturp*2

(1, 2, 3, 4, 1, 2, 3, 4)

In [103]:
myset = {'Apple', 'Banana', 'Cherry', 'Cherry'}

In [105]:
type(myset)

set

In [111]:
for items in myset:
    print(items)

Banana
Cherry
Apple

In [115]:
if 'Apple' in myset:
    print("yes")

yes

In [117]:
myset.add('Orange')

In [121]:
myset1 = myset
myset1

{'Apple', 'Banana', 'Cherry', 'Orange'}

In [131]:
myset2= myset.update(myset1)
print(myset2)

None

In [133]:
myset

{'Apple', 'Banana', 'Cherry', 'Orange'}

In [135]:
myset1

{'Apple', 'Banana', 'Cherry', 'Orange'}

In [143]:
a = {1,2,3,4,5, 5, 4}
b = {1,2,5,6,7,8,2,1}
print(a)
print(b)

{1, 2, 3, 4, 5}
{1, 2, 5, 6, 7, 8}

In [159]:
thistuple = (1,2,3,4)

In [161]:
d = a.union(b, thistuple)
d

{1, 2, 3, 4, 5, 6, 7, 8}

In [147]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'apple', 'pineapple', 'cherry', 'mango', 'banana', 'papaya'}

Student attendance checker-- You are teacher with some students enrolled in your class for a particular academi session.
write a python program that allows you to record the names of students as they appear in class. Then at the end of collecting the student's attendance, the program should print the names of students that were absent for that day.

hint: create a set to ocntain or collect student names.
create a variable that collects students name to store the students that have arrived in class.

In [165]:
class_list = ['Adetade', 'Vincent', 'Grace', 'ola', 'dumebi']
class_lists = []
for names in class_list:
    class_lists.append(names.capitalize())
class_lists
present_students = []
while True:
    name = input("Kindly input student's name: ").capitalize()
    if name.lower() == 'done': 
        break
    if name in class_lists:
        present_students.append(name)
    else:
        print('This student is not a member of this class')
        
absent_students = []
for i in class_lists:
    if i not in present_students:
      absent_students.append(i) 
    
print("The absent students are:")
for i in absent_students:
    print(i)


# Method 2
class_list = ('Adetade', 'Vincent', 'Grace', 'ola', 'dumebi')
class_lists = set()
for names in class_list:
    class_lists.add(names.capitalize())
class_lists

present_students = set()
while True:
    name = input("Kindly input student's name: ").capitalize()
    if name.lower() == 'done': 
        break
    if name in class_lists:
        present_students.add(name)
    else:
        print('This student is not a member of this class')

absent = class_lists.difference(present_students)

print("The absent students are:")
for i in absent:
    print(i)

kindly input students that have arrived:  Sam

In [15]:
name = input("Your name: ").title()
print(f'Hello {name}!, You are in group {ord(name[0])-64}')

Your name:  Oladele

Hello Oladele!, You are in group 15

In [17]:
name = input("Your name: ")
name = name.title()
first_char = name[0]
group = ord(first_char)-64
print("Hello", name)
print("You are in group", group)

Your name:  Oladele

Hello Oladele
You are in group 15

In [164]:
mydict = {'Ola':25, 'Ade':24, 'Vincent':30, 'Dumebi': 24, 'Dumebi': 20}

In [184]:
sum(mydict.values())/len(mydict.values())

24.75

In [39]:
mydict.get('Ade')

24

In [41]:
mydict['Ola'] = 30

In [43]:
mydict

{'Ola': 30, 'Ade': 24, 'Vincent': 30, 'Dumebi': 20}

In [45]:
mydict.update({'Vincent':33})

In [218]:
for i in mydict.items():
    print(i)

('Ola', 25)
('Ade', 24)
('Vincent', 30)
('Dumebi', 20)

In [49]:
x = {'type' : 'fruit', 'name' : 'banana'}

In [51]:
x['type'] = 'berry'

In [53]:
x

{'type': 'berry', 'name': 'banana'}

In [55]:
mydict['Gabriel'] = 32

In [57]:
mydict

{'Ola': 30, 'Ade': 24, 'Vincent': 33, 'Dumebi': 20, 'Gabriel': 32}

In [59]:
mydict.update({'Sandra': 21})

In [61]:
mydict

{'Ola': 30,
 'Ade': 24,
 'Vincent': 33,
 'Dumebi': 20,
 'Gabriel': 32,
 'Sandra': 21}

In [63]:
mydict.pop('Sandra')

21

In [65]:
mydict

{'Ola': 30, 'Ade': 24, 'Vincent': 33, 'Dumebi': 20, 'Gabriel': 32}

In [73]:
mydict.popitem()

('Gabriel', 32)

In [77]:
del mydict['Ola']

In [79]:
mydict

{'Ade': 24, 'Vincent': 33, 'Dumebi': 20}

In [81]:
del x

In [99]:
for students, age in mydict.items():
    print(students, age)

Ade 24
Vincent 33
Dumebi 20

In [113]:
mydict = {}

In [115]:
mydict1 = {'Ade': 24, 'Vincent': 33, 'Dumebi': 20}

In [117]:
mydict = mydict1

In [119]:
mydict1

{'Ade': 24, 'Vincent': 33, 'Dumebi': 20}

In [123]:
mydict1.pop('Ade')

24

In [125]:
mydict1

{'Vincent': 33, 'Dumebi': 20}

In [127]:
mydict

{'Vincent': 33, 'Dumebi': 20}

In [129]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [131]:
thisdict['colour'] = 'Black'
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'colour': 'Black'}

In [133]:
mydict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [135]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

In [141]:
myfamily['child1'].values()

dict_values(['Emil', 2004])

In [151]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [159]:
i = 1
while i:
  print(i)
  if i == 15:
    break
  i += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [161]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

1. write a program that assigns grades to student scores. That is score 0-39 is F, 40-45 is E, 46-49 is D etc.
2. You are a teacher and need to keep track of your students grade for a test. create a dictionary where the keys are student names and the values are their scores. allow the user to input a student's name to retrieve their score. display the average score of the class, the maximum score of the class and the minumum score of the class

In [212]:
score = int(input("Kindly input your score: "))
a = 'Your garde is A'
b = 'Your grade is B'
c = 'Your grade is C'
d = 'Your grade is D'
e = 'Your grade is E'
f = 'Your grade is F'
invalid = 'Kindly enter a valid score'
if score in range(40,45):
    print(e)
elif score in range(45,50):
    print(d)
elif score in range(50,60):
    print(c)
elif score  in range(60,70):
    print(b)
elif score in range(70, 100):
    print(a)
elif score < 0 or score > 100:
    print(invalid)
else:
    print(f)

Kindly input your score:  -12

Kindly enter a valid score

In [200]:
for i in range(40,45):
    print (i)

40
41
42
43
44

In [220]:
class_dict = {'Joe': 56,
              'Sam':87,
              'Helen':43,
              'Grace':67,
              'David':84
}

In [230]:
class_dict[input()]

 Joe

56

In [246]:
sum(class_dict.values())/len(class_dict.values())

67.4

In [252]:
query = input("Kindly enter your query").title()
if query in class_dict.keys():
    score = class_dict[query]
    print(score)
else:
    print("Kindly enter a valid query")

max_score = max(class_dict.values())
min_score = min(class_dict.values())
avg_score = sum(class_dict.values())/len(class_dict.values())
print('Maximum score is:', max_score)
print('Minimum score is:', min_score)
print('Average score is:', avg_score)

Kindly enter your query joe

56
Maximum score is: 87
Minimum score is: 43
Average score is: 67.4